*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header_topline {
	background-color: #43484C;
	padding: 15px 0;
	color: #fff;
}
.header_topline a {
	color: #fff;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
}
.top_links a {
	text-decoration: underline;
}
.top_links a:hover {
	text-decoration: none;
}
.soc_buttons {
	float: right;
}
.soc_buttons a {
    font-size: 29px;
    margin-left: 8px;
}
.auth_buttons,
.main_mnu_button {
    border: 0;
    background-color: transparent;
    font-size: 29px;
    color: #fff;
}
.main_mnu_button {
	padding: 6px 15px 0;
}
.logo {
    display: block;
    padding: 15px 0;
    color: #fff;
    font-family: "NautilusPompiliusRegular";
    font-size: 42px;
    text-align: center;
}
.top_header {
	background-color: #4AAAD2;
}
.main_mnu {
	color: #fff;
    background-color: #3797bf;
    margin-bottom: 20px;
}
.main_mnu a {
	color: #fff;
	padding: 15px;
	display: block;
}
.main_mnu a:hover {
	background-color: #2787AF;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.main_mnu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    text-transform: uppercase;
}
.top_contacts {
	float: right;
	font-size: 32px;
	padding: 0 15px;
	background-color: #2787AF;
	line-height: 52px;
}
.main_mnu ul li {
	display: inline-block;
}
.main_mnu ul {
	z-index: 12;
}
h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoLight";
}
.slider_container img {
	max-width: 100%;
}
.slider_container {
	position: relative;
}
.next_button, .prev_button {
  color: #fff;
  font-size: 24px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 48%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 7px;
  border-radius: 54%;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
section.order {
	background-color: #EEE;
	padding: 25px 0;
}
.sell_descr {
	font-size: 22px;
	padding-top: 5px;
}
.button {
	background-color: #2BC6A4;
	border: medium none;
	border-radius: 5px;
	color: #FFF;
	display: block;
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
}
.button:hover {
	background-color: #4FEAC8;
}
.button:active {
	background-color: #14AF8D;
}
.sell_right .button {
	float: right;
}
.hidden {
	display: none;
}
.pop_form input[type=text] {
	display: block;
	width: 90%;
	line-height: 24px;
	margin: 0 auto 12px;
	border: #999 3px solid;
}
.pop_form .button {
	margin: 20px auto 0;
}
.pop_form h3 {
	text-align: center;
	font-weight: normal;
	font-family: "RobotoBold";
	text-transform: uppercase;
}
.blog_item img {
	max-width: 100%;
	margin-bottom: 20px;
}
.blog_item h3 {
	text-transform: uppercase;
	font-family: "RobotoBold";
	margin-bottom: 10px;
}
.blog_item h3 a {
	text-decoration: underline;
}
.blog_item p {
	margin-top: 0;
}
.right_aside {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #EEE;
	margin-top: 30px;
}